/* * {
    margin:0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

* {
    margin:0;
    padding: 0;
    font-family: 'VT323', monospace;
    text-shadow: 0 0 2px rgb(209, 171, 17); /* experimental background glow*/
}
/* crt-tv effect */
.scalelines{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* to cover full view port width*/
    height: 100vh; /* to cover full viewport height*/
    background: linear-gradient(
        to bottom,
        rgba(39, 39, 39, 0.249) 50%,
        rgba(0, 0, 0, 0.1) 50%
    );
    background-size: 100% 4px;
    pointer-events: none; /* clicks will not work for this element */
    z-index: 10; /* to make it top layer*/
}

.banner {
    height: 10px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 5px;
    color: rgb(124, 180, 201);
    background-color:  rgb(17, 16, 22);
    backdrop-filter: blur(5px);
}

.sidebar-toggle{
    display: none;
}

.sidebar-toggle-btn {
    padding: 0.3rem;
    position: fixed;
    top: 2.5rem;
    left: 1rem;
    z-index: 4;
    background-color: rgb(29, 28, 34);
    color: rgb(108, 162, 136);
    width: 40px;
    height: 40px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; 
}
.sidebar-toggle-btn:hover {
    background-color: rgb(39, 38, 45);
}

.sidebar {
    height: 100%;
    width: fit-content;
    position:fixed;
    z-index: 3; /* keep it on top layer */
    overflow-x: hidden;
    top: 0;
    left: -300px;
    background-color:  rgb(34, 35, 35);
    padding-top: 7rem;
    float: left;
    transition-duration: 0.5s;
}

.sidebar-toggle:checked ~ .sidebar{
   left: 0;
}

.sidebar_top {
    padding: 1rem;
    color: rgb(108, 162, 136);
    font-size: 2.4rem;
}

.sidebar_opt_heading{
    color: rgb(206, 162, 112);
}
.sidebar_option_container{
    padding: 0.5rem;
    border-style: solid;
    border-color: rgb(42, 42, 42);
    border-width: 0.07rem;
    border-left: 0;
    border-right: 0;
}

.sidebar_option{
    text-decoration: none;
    color: gray;
    padding: 0.9rem;
    display: block;
}
.sidebar_option:hover{
    color:rgb(164, 165, 70);
}

.tag_container{
    padding: 1rem;
}

.tags {
    background-color: rgb(105, 135, 149);
    border-radius: 0.7rem;
    padding: 0.3rem;
}

.header {
    height: fit-content;
    width: 100%;
    /* background-image: repeating-linear-gradient(45deg,rgb(34, 33, 33),rgb(19, 19, 146), rgb(65, 60, 60), rgb(28, 28, 28)) ;   */
    background-image: repeating-linear-gradient(45deg, rgb(17, 16, 22)) ; 
}

.header_main {
    height: fit-content;
    width:100%;
    font-size: 40px;
    /* background-image: linear-gradient(45deg, rgb(198, 235, 97), rgb(76, 117, 150)); */
    display:flex;
    justify-content: center;
    background-color:  rgb(17, 16, 22); /* rgb(155, 160, 122) */
    
}

.logo {
    background: linear-gradient(45deg,rgb(195, 36, 36),wheat, rgb(49, 130, 144) , rgb(26, 2, 83));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 6rem;
    
    font-weight: 600;
    color: rgb(188, 214, 224);
    display:flex;
    justify-content: center;
}
.banshal_logo_txt{
    background-color: rgb(17, 16, 22);
}
#logo_txt {
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 1px rgb(209, 171, 17);
}

.nav {
    background-color: rgb(17, 16, 22);
    padding: 4%;
    height: fit-content;
    font-size: 15px;
    font-weight: 350;
    display:flex;
    justify-content: center;
}
.nav_txt_container{
    width: 30rem;
    display:flex;
    justify-content: center;
}

.nav_txt {
    background: linear-gradient(45deg,rgb(237, 226, 226), rgb(211, 213, 216) , rgb(86, 84, 84));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    font-size: 18px;;
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.nav_txt:hover {
    background: linear-gradient(45deg,rgb(206, 134, 134), rgb(106, 125, 169) , rgb(194, 90, 83));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    font-size: 19px;;
    color: white;
    text-decoration: none;
}

.header_options:hover {
    /* box-shadow: rgb(39, 38, 38)  0px 10px 40px; */
    transform: translateY(-3px);
}


.up_btn {
    z-index: 5;
    position: fixed;
    background-color: rgb(39, 38, 38, 0.34);
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgb(105, 103, 99);
    border-width: 0.1rem;
    display: flex;
    justify-content: center;
    height: 1rem;
    width: 2rem;
    padding: 0.5rem;
    margin-left: 85vw;
    margin-top: 85vh;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}
#up_btn_icon{
    color: rgb(149, 164, 98);
}
.up_btn:hover {
    box-shadow: 0 0 15px rgb(35, 35, 35);
    transform: scaleY(1.1);
}

.hr{
    padding: 3% 40% 3% 40%;
}
.hr hr {
    border: none;
    border-top:1px dashed rgb(121, 140, 73);
    border-width: 0.15rem;
    height: 1px;
    margin: 0;
}

/* About me */
.about_me_sec{
    padding: 0% 5% 1% 5%;
    display: flex;
    justify-content: center;
}
.about_me_container{
    padding: 1rem;
    display:flex;
    justify-content:center;
    width: fit-content;
    background-color: rgb(17, 16, 22);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(121, 140, 73);
    transition-duration: 0.2s;
}
.about_me_container:hover {
    box-shadow: 0px 0px 20px rgba(12, 12, 10, 0.5);
    transform: scale(1.005);
}
#about_me{
    font-size: large;
    color: rgba(244, 118, 28, 0.807);
}
.about_me_para{
    padding: 0.4rem;
    color: rgb(188, 185, 43);
}
.game{
    color: rgb(160, 178, 57);
    transition-duration: 0.3s;
}
.game:hover{
    color:rgba(163, 177, 122, 0.983);
}

/* SEARCH */
.search_wrapper {
    background-color: rgb(17, 16, 22);
    height: fit-content;
    display: flex;
    justify-content: center;
}

#search_container {
    padding: 1.5rem;
    padding-bottom: rem;
    padding-right: 65px;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    gap:10px;
}

form {
    width: 25rem;
}

#search_bar {
    background-color: rgb(39, 38, 38, 0.34);
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgb(50, 49, 46);
    border-width: 0.1rem;
    padding-left: 10px;
    height: 3rem;  
    width: 100%;
    outline: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; 
    transition-duration: 0.3s ;
    color: rgb(162, 160, 153);
}

#search_bar::placeholder {
    color: rgb(126, 125, 125);
}

#search_bar:hover {
    border-color: white;
    width: 102%;
    /* shadow */
    box-shadow: 0 0 35px rgb(90, 103, 58); /* added shadow */
    border-color: white;
    width: 102%;
}

#search_btn{
    background-color: transparent; /* rgb(50, 49, 46) */
    margin-left: -4.3rem;
    border-style: solid;
    border-color: transparent;
    font-size: 20px;
    color: rgb(74, 74, 74);
    z-index: 10;
}

/* search suggetions */
.search_suggetion_container{
    background-color: rgb(17, 16, 22);
    padding: 1% 0% 3% 0%;
    height: fit-content;
    display:flex; /* to make suggestion buttons in the middle*/
    justify-content: center;
    border-style: solid;
    border-color: rgb(50, 49, 46);
    border-width: 0.1rem;
    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    border-top:none;
}
.search_suggetions{
    width: fit-content;
    color: rgb(172, 178, 94);
    display:flex; /* to add gap between suggestions*/
    gap: 1rem;
}
#suggestion_one, #suggestion_two, #suggestion_three{
    background-color: rgb(39, 38, 38, 0.34);
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgb(50, 49, 46);
    border-width: 0.1rem;
    height: fit-content;
    padding:1rem;
    border-radius: 1rem;
    color: rgb(162, 160, 153);
    transition: transform 0.3s ease;
}
#suggestion_one:hover, #suggestion_two:hover, #suggestion_three:hover{
   border-color: rgb(159, 116, 16);
   transform: translateY(-5px);
}

.suggestion_link{
    font-size: 1rem;
    color:gray;
}

/* cards */
.card_sec_heading {
    background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28));
    padding: 1rem 40% 1rem 19%; /* top, right  , bottom, left */
    
}
.notes_txt_gradient {
    background: linear-gradient(45deg,rgb(203, 192, 192), rgb(50, 158, 205), rgb(10, 117, 99));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 2; /* to keep gradient on top if any overlayer */
    font-size: 45px;
    font-weight: 600;
}
.notes_link {
    color: rgb(183, 107, 76);
    font-size: 1.1rem;
}

/* background of the card wrapper */
.section_card { /* card section background color */
    background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28));
}
.card_container { 
    display:flex;
    padding: 1.5rem;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
    gap: 1rem;
    background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28));
    height: auto;
}

.card_wrapper {
    padding:5px;
    display: grid;
    height: fit-content;
    border-radius: 0.61rem;
     /* background-image: repeating-linear-gradient(45deg, rgb(27, 27, 27), rgb(51, 49, 49), rgb(41, 40, 40)); */
    /* backdrop-filter: blur(6px); */ /* blur effect */
    background-color: rgb(17, 16, 22);   
    outline-style:solid;
    outline-width: 0.1rem;
    outline-color: rgb(91, 93, 85);
    box-sizing: border-box;
}
.card {
    height:fit-content ;
    padding-top: 5px;
    /* background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28)); */
    background-color: rgb(17, 16, 22); 
    justify-content: center;
    border-style: solid;
    border-width: 0.01rem;
    border-color: transparent;
    border-radius: 0.4rem;
    transform: translateZ(-1px);

    padding: 20px;
    padding-top: 0.1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card_style {
    outline-style:solid;
    outline-width: 0.3px;
    outline-color: rgb(50, 50, 50) ;
    opacity: 1;
    padding: 0.35rem;
    height: fit-content;
    min-width: 150px;
    box-sizing: border-box;
    font-size: large;
    background-color: rgb(29, 28, 34);  /* rgb(240, 128, 12); */
    /* border radius */
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    transition-duration: 0.3s;
}

.card_style:hover {
    background-image: linear-gradient(145deg, rgb(17, 16, 18) , rgb(14, 8, 27) 90px);   /* linear-gradient(145deg, red, maroon); */
    /* box-shadow: 2px 3px 10px; */
    outline-color: rgb(113, 113, 113) ;
    outline-width: 0.2px;
    transform: scale(1.04);
    
}
.card_header {
    height: fit-content;
    padding: 0rem 0rem 0.2rem 0.3rem;
}
.card_heading {
    color:rgb(228, 175, 110);
    font-size: 20px;
    font-weight: 500;

}

.card_body{
    background-color:  rgb(50, 49, 49);
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 4rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.card_body_txt {
    font-size: 0.8rem;
    color:rgb(187, 203, 155);
}
.card_footer_nav {
    padding: 0.2rem;
}

.card_nav_footer {
    color: gray;
    text-decoration: none;;
    font-size: 0.7rem;
}

.new_note {
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 1;
    margin-left: 20px;
    margin-right:2%;
    height: 30px;
    max-width: 100%;
    font-size: large;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.all_notes {
    border-style: solid;
    border-radius: 0.4rem;
    border-width: 0.06rem;
    border-color: rgb(65, 65, 65);
    background: linear-gradient(45deg,rgb(237, 226, 226), rgb(211, 213, 216) , rgb(86, 84, 84));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}
.all_notes:hover {
    background: linear-gradient(45deg,rgb(206, 134, 134), rgb(106, 125, 169) , rgb(194, 90, 83));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.option_container {
    height: 30px;
    padding: 5px;
    background-image: repeating-linear-gradient(45deg, rgb(34, 32, 32), rgb(28, 28, 28));
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.option_container select {
    display: none;
}


/* recents */
.recents_container{
    background-color: rgb(17, 16, 22);
    display: flex;
    justify-content: center;
    padding-bottom: 0rem;
    padding-left: 2%;
}

.recents {
    background-color: transparent;
    padding: 2.5rem;
    padding-top: 1.2rem; 
    padding-left: 1rem;
    overflow-x: scroll;

    display:flex;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    scroll-behavior: smooth;
    gap: 2rem;
    
}

.recent_card_container {
    flex-shrink: 0;
    height: fit-content;
    min-width: 200px;
    max-width:230px;
    flex-shrink: 0;
    width: 100%;
    background: linear-gradient(45deg,rgb(34, 34, 34), rgb(32, 32, 32));
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: rgb(68, 68, 68);
}

.recent_header {
    padding: 1rem;
    padding-left: 0.3rem;
    padding-bottom: 0;
}
.project_desc {
    font-size: 0.9rem;
    box-sizing: border-box; /* include padding in width calculation*/
    word-wrap: break-word;
    padding: 0.5rem;
    color: gray;
    line-height: 1;
}

.recents_heading {
    color:rgb(188, 188, 188); /* heading text color*/
    font-size: 20px;
    padding:0px 0.5rem 0px 0.5rem ;
}

/* scroll-bar styles */
.recents::-webkit-scrollbar {
    width: 8px;  
}

.recents::-webkit-scrollbar-track {
    background: rgb(50, 50, 50); 
    border-radius: 1rem;
}

.recents::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

.recents::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130); 
}

.recent_card_body {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(33, 33, 33);
    transition-duration: 0.3s;
}
.recent_card_body img {
    border-radius: 0.4rem;
    width: 100%;
    height: 100%;
    display: block; /* remove any extra space*/
    object-fit: contain; /* make image fit the area without distortion*/
}

.recent_card_body:hover {
    transform: scale(1.03);
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: rgb(112, 111, 111);
}

.recent_txt {
    color: lightgray
}

.recent_footer {
    padding: 1rem;
    background-color: rgb(33, 33, 33);
    border-color: rgb(56, 56, 56);
    color:rgb(188, 188, 188); 
    font-size: 20px;;
    border-style: solid;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-width: 0.009rem;
    
}

.recent_tag {
    font-size: 0.6rem;
    padding: 5px;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.01rem;
    border-color: rgb(63, 63, 63);
    color:rgb(188, 188, 188);
}

/* skills */
.section_skils{
    background-color:  rgb(17, 16, 22);
    border-style: solid;
    border-color: rgb(79, 78, 78);
    border-width: 0.0605rem 0rem 0rem 0rem;
    padding: 0 15% 0 15%;
}

.skills_header {
    background: linear-gradient(45deg,rgb(233, 231, 231), rgb(50, 158, 205) , rgb(10, 117, 99));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    color: lightgray;
    font-size: 35px;
    font-weight: 200;
    padding: 3rem;
}
.skill_li_head{
    height: 2.5rem;
    color:rgb(153, 154, 98);
    font-size: 1.5rem;
    font-weight: 200;
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    color: gray;
    padding: 4rem;
    padding-top: 0.2rem;
}
.skill-list-body {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    gap: 1rem;
    padding: 0.5rem;
    padding-left: 0; /* to align list with list heading*/
    font-size: 1rem;
}

.skill_list {
    display: flex;
    justify-content:left;
    align-items: center; /* keep vertically center*/
    outline-style:solid;
    outline-width: 0.3px;
    outline-color: rgb(50, 50, 50) ;
    padding: 0.5rem;
    height: 3rem;
    width: 8.5rem;
    box-sizing: border-box;
    padding-left: 1rem;
    font-size: large;
    background-color: rgb(29, 28, 34);  /* rgb(240, 128, 12); */
    /* border radius */
    border-radius: 0.2rem;
    transition-duration: 0.2s;
}
.skill_list:hover {
    transform: scale(1.1);
    color: rgb(158, 158, 65);
}
.devicon {
    font-size: 2rem; 
    margin-right: 0.7rem; /* Space between icon and text (mr-2) */
    color: #d1d5db; 
    transition-duration: 0.2s;
}
.devicon:hover{
    color: tomato; 
}

.link {
  color:gray;
}
.link:hover {
    color:rgb(164, 164, 164);
}

/* working on */
.working_on_container {
    background-color:  rgb(17, 16, 22);
    border-style: solid;
    border-color: rgb(57, 57, 57);
    border-width: 0.1rem 0rem 0rem 0rem; 
    height:auto;
    padding: 2% 15% 2% 15%;
}
.working_on_heading {
    background: linear-gradient(45deg,rgb(187, 180, 180), rgb(50, 158, 205) , rgb(10, 117, 99));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: lightgray;
    font-size: 35px;
    font-weight: 200;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.working_on_info {
    padding: 2% 15% 5% 7%;
    font-size: 1rem;
}
.work_list {
   color: gray;
}

/* footer */
footer {
    height:  auto;
    background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28));
}

.footer_txt  {
    padding: 1.4rem;
    padding-top: 3rem;
    color: rgb(186, 186, 186);
    font-size: 15px;
    font-weight: 590;
}

.contact_details {
    padding: 0.5rem 0rem 0.5rem 3rem;
}
.copyright {
    display: flex;
    justify-content: center;
    padding: 1.4rem;
    color: rgb(186, 186, 186);
    font-size: 15px;
    font-weight: 590;
}

/* fold longer-text in section  */
section {
    max-width: 100%;
    overflow-wrap: break-word;
}


@media (min-width: 600px) and (max-width: 900px) {

    .card_container {
        padding: 3% 3% 1% 3%;
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto;
    }
    .card {
        padding: 20px;
        padding-top: 0.1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .card_style {
        max-width: 200px;
        width: 100%;
        margin: 0;
    }
    #search_btn {
        height: 2.9rem;
     }
     .skills_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        color: gray;
        padding: 1% 1% 10% 1%;
    }
}


/* 400px to 599 mobile view*/
@media (min-width: 400px) and (max-width: 599px){
    /* .up_btn {
        margin: 85% 0% 0% 80%;
    } */
    .about_me_sec {
        padding: 5%;
        padding-top: 0%;
    }
    .about_me_container{
        padding: 10% 10% 10% 10%;
    }
    .card_wrapper {
        padding: 0.5rem;
        height: 25rem; /* fix height for mobile devices */
    }
    
    .card_container {
        padding: 3% 3% 1% 3%;
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto;
        /* gap: 1rem; */
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 15px;
        padding-top:5px;

        height: 90%;  /* to fit card within card_wrapper height bounds */
        overflow-y: scroll; /* add scroll-bar*/
        overflow-x: hidden; /* hide horizontal scrollbar */
    }

    .card_style {
        min-width: 0;
        width: 100%;
    }

    .logo {
        background: linear-gradient(45deg,rgb(200, 163, 163), rgb(212, 168, 74) , rgb(21, 1, 67));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 4.5rem;
        font-weight: 600;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 6%;
    }
    
    .banner {
        padding: 10px;
        font-size: 0.7rem;
        font-weight: 100;
        height: 10px;
        color: rgb(192, 195, 155);
        background-color:  rgb(17, 16, 22);
    }
   
    .nav {
        padding: 2.5rem;
        padding-bottom: 5px;
    }
    .nav_txt{
        font-size: 16px;
    }
    
    .header_options {
        font-size: 18px;
    }
    #search_container{
        padding-right: 35px;
    }
    #search_btn {
        padding: 15px;
    }
    #search_btn{
        background-color: transparent;
        border-style: solid;
        border-color: transparent;
        margin-top: -0.35rem;
        font-size: 20px;
        color: rgb(74, 74, 74);
        z-index: 10;
    }

    #search_bar {
        width: 90%;
     }
    #search_bar:hover {
        width: 100%;
    }
    .search_suggetion_container{
        padding-bottom: 2.5rem;
    }
    #suggestion_one, #suggestion_two, #suggestion_three{
        border-width: 0.1rem;
        height: fit-content;
        padding: 0.7rem;
    }
    .card_sec_heading {
        background-color: rgb(80, 80, 71);
        font-size: 30px;
        font-weight: 300;
        padding: 0.5rem 3rem 0rem 3rem;
    }
    .notes_txt_gradient {
        font-size: 2rem;
        font-weight: 600;

    }
    .all_notes {
        font-size: 18px;
        padding: 3%;
    }

    /* skills section */

    .skills_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        color: gray;
        padding: 1% 1% 10% 1%;
    }
    .skills_header{
        font-size: 2.5rem;
        font-weight: 800;
        padding-left: 3%;
    }

    .skill-list-body {
        display: grid;
        grid-template-columns: repeat(1, 0.1fr);
        gap: 1rem;
        padding: 1rem;
        padding-left: 0;
        font-size: 1rem;
    }
    .skill_list {
        padding: 0.35rem;
        padding-left: 1rem;
        height: fit-content;
        width: 8.5rem;
        box-sizing: border-box;
        border-radius: 0.2rem;
    }
    .section_skills{
        
    }
    .footer_txt  {
        padding: 1.4rem;
        padding-top: 1.5rem;
        padding-left: 0;
    }
    .working_on_container {
        padding: 1% 1% 10% 12%;
    }
    .working_on_heading {
        font-size: 2.5rem;
        font-weight: 800;
    }
    .working_on_info {
        padding: 10% 5% 1% 15%; 
    }
}

@media (max-width: 399px) {

    .banner{
        font-size: 0.64rem;
    }
    .logo{
        padding: 2rem;
        font-size: 3.5rem;
    }
    #suggestion_one, #suggestion_two, #suggestion_three{
        border-width: 0.1rem;
        height: fit-content;
        padding: 0.5rem;
    }
    .card_wrapper {
        padding: 0.5rem;
        height: 25rem; /* fix height for mobile devices */
    }
    
    .card_container {
        padding: 3% 3% 1% 3%;
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto;
        /* gap: 1rem; */
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 15px;
        padding-top:5px;

        height: 90%;  /* to fit card within card_wrapper height bounds */
        overflow-y: scroll; /* add scroll-bar*/
        overflow-x: hidden; /* hide horizontal scrollbar */
    }
    .notes_txt_gradient{
        font-size: 2.3rem;
    }
  
    .skills_container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0.5rem;
        padding-bottom: 2rem;
    }

    .skills_li_head {
        font-size: 0.9rem;
    }

    .skill-list-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding: 0 5% 0 5%;
    }

    .section_skils {
        padding: 0 5% 0 5%;
    }
    
}