* {
    margin:0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    height: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.622); /*  */
    backdrop-filter: blur(5px);
}

.header {
    height: fit-content;
    width: 100%;
    /* background-image: repeating-linear-gradient(45deg,rgb(34, 33, 33),rgb(19, 19, 146), rgb(65, 60, 60), rgb(28, 28, 28)) ;   */
    background-image: repeating-linear-gradient(45deg, rgb(17, 16, 22)) ; 
}

.header_main {
    height: fit-content;
    width:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    /* background-image: linear-gradient(45deg, rgb(198, 235, 97), rgb(76, 117, 150)); */
    display:flex;
    justify-content: center;
    background-color:  rgb(17, 16, 22); /* rgb(155, 160, 122) */
    
}

.logo {
    background: linear-gradient(45deg,rgb(195, 36, 36),wheat, rgb(49, 130, 144) , rgb(26, 2, 83));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    color: rgb(188, 214, 224);
    display:flex;
    justify-content: center;
    background-color:  rgb(17, 16, 22);
}
.banshal_logo_txt{
    background-color: rgb(17, 16, 22);
}

.nav {
    background-color: rgb(17, 16, 22);
    padding: 2.2rem;
    height: fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 350;
    display:flex;
    justify-content: center;
}
.nav_txt_container{
    width: 30rem;
    display:flex;
    justify-content: center;
}

.nav_txt {
    background: linear-gradient(45deg,rgb(237, 226, 226), rgb(211, 213, 216) , rgb(86, 84, 84));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    font-size: 18px;;
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.nav_txt:hover {
    background: linear-gradient(45deg,rgb(206, 134, 134), rgb(106, 125, 169) , rgb(194, 90, 83));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    font-size: 19px;;
    color: white;
    text-decoration: none;
}

.header_options:hover {
    /* box-shadow: rgb(39, 38, 38)  0px 10px 40px; */
    transform: translateY(-3px);
}
/* About me */
.about_me_container{
    padding: 5% 10% 5% 15%;
    display:flex;
    justify-content: center;
    background-color: rgb(17, 16, 22);
}
#about_me{
    font-size: large;
    color: gray;
}
.about_me_para{
    padding: 0.4rem;
}
.game{
    color: gray;
    transition-duration: 0.3s;
}
.game:hover{
    color:rgba(112, 118, 94, 0.983);
}

/* SEARCH */
.search_wrapper {
    background-color: rgb(17, 16, 22);
    height: fit-content;
    display: flex;
    justify-content: center;
}

#search_container {
    padding: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 65px;
    display: flex;
    justify-content: center;
    gap:10px;
}

form {
    width: 20rem;
}

#search_bar {
    background-color: rgb(39, 38, 38, 0.34);
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgb(50, 49, 46);
    border-width: 0.1rem;
    padding-left: 10px;
    height: 3rem;
    width: 100%;
    outline: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;  
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; 
    transition-duration: 0.3s ;
    color: rgb(162, 160, 153);
}
#search_bar::placeholder {
    color: rgb(126, 125, 125);
}

#search_bar:hover {
    border-color: white;
    width: 102%;
}

#search_btn{
    background-color: transparent; /* rgb(50, 49, 46) */
    margin-left: -4.3rem;
    border-style: solid;
    border-color: transparent;
    font-size: 20px;
    color: rgb(74, 74, 74);
    z-index: 10;
}

/* cards */
.card_sec_heading {
    background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28));
    font-family: monospace;
    padding: 1rem 40% 1rem 19%; /* top, right  , bottom, left */
    
}
.notes_txt_gradient {
    background: linear-gradient(45deg,rgb(203, 192, 192), rgb(50, 158, 205), rgb(10, 117, 99));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 2; /* to keep gradient on top if any overlayer */
    font-family: monospace;
    font-size: 35px;
    font-weight: 300;
}

/* background of the card wrapper */
.card_container { 
    display:flex;
    padding: 1.5rem;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
    gap: 1rem;
    background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28));
    height: auto;
}

.card_wrapper {
    padding:5px;
    display: grid;
    height: fit-content;
    border-radius: 0.61rem;
     /* background-image: repeating-linear-gradient(45deg, rgb(27, 27, 27), rgb(51, 49, 49), rgb(41, 40, 40)); */
    /* backdrop-filter: blur(6px); */ /* blur effect */
    background-color: rgb(17, 16, 22);   
    outline-style:solid;
    outline-width: 0.1rem;
    outline-color: rgb(91, 93, 85);
    box-sizing: border-box;
}
.card {
    height:fit-content ;
    padding-top: 5px;
    /* background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28)); */
    background-color: rgb(17, 16, 22); 
    justify-content: center;
    border-style: solid;
    border-width: 0.01rem;
    border-color: transparent;
    border-radius: 0.4rem;
    transform: translateZ(-1px);

    padding: 20px;
    padding-top: 0.1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card_style {
    outline-style:solid;
    outline-width: 0.3px;
    outline-color: rgb(50, 50, 50) ;
    opacity: 1;
    padding: 0.35rem;
    height: fit-content;
    min-width: 150px;
    box-sizing: border-box;
    font-size: large;
    background-color: rgb(29, 28, 34);  /* rgb(240, 128, 12); */
    /* border radius */
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    transition-duration: 0.3s;
}

.card_style:hover {
    background-image: linear-gradient(145deg, rgb(17, 16, 18) , rgb(14, 8, 27) 90px);   /* linear-gradient(145deg, red, maroon); */
    /* box-shadow: 2px 3px 10px; */
    outline-color: rgb(113, 113, 113) ;
    outline-width: 0.2px;
    transform: scale(1.04);
    
}
.card_header {
    height: fit-content;
    padding: 0rem 0rem 0.2rem 0.3rem;
}
.card_heading {
    color:rgb(228, 175, 110);
    font-size: 20px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.card_body{
    background-color:  rgb(50, 49, 49);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 4rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.card_body_txt {
    font-size: 0.8rem;
    color:rgb(187, 203, 155);
}
.card_footer_nav {
    padding: 0.2rem;
}

.card_nav_footer {
    color: gray;
    text-decoration: none;;
    font-size: 0.7rem;
}

.new_note {
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 1;
    margin-left: 20px;
    margin-right:2%;
    height: 30px;
    max-width: 100%;
    font-size: large;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.all_notes {
    border-style: solid;
    border-radius: 0.4rem;
    border-width: 0.06rem;
    border-color: rgb(65, 65, 65);
    background: linear-gradient(45deg,rgb(237, 226, 226), rgb(211, 213, 216) , rgb(86, 84, 84));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}
.all_notes:hover {
    background: linear-gradient(45deg,rgb(206, 134, 134), rgb(106, 125, 169) , rgb(194, 90, 83));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.option_container {
    height: 30px;
    padding: 5px;
    background-image: repeating-linear-gradient(45deg, rgb(34, 32, 32), rgb(28, 28, 28));
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.option_container select {
    display: none;
}


/* recents */

.recents_container {
    background-color: rgb(17, 16, 22);
    padding: 0.5rem;
    overflow-x: scroll;
    width: fit-content;
    border-style: solid;
    border-radius: 0.61rem;
    border-width: 0.1rem;
    border-color: rgb(108, 108, 108);
}

.recents {
    display:flex;
    justify-content:center;
    height: 16.2rem;
    width: fit-content;
    scroll-behavior: smooth;
    gap: 0.4rem;
    padding: 0.3rem;
    padding-top: 1.2rem;
    /* background-image: repeating-linear-gradient(80deg, rgb(46, 44, 44), rgb(51, 49, 49), rgb(41, 40, 40)); */
    background-color: rgb(17, 16, 22); 
    border-style: solid;
    border-radius: 0.61rem;
    border-width: 0rem;
    border-color: rgb(108, 108, 108);
}
.recent_card_container {
    width: fit-content;
    background: linear-gradient(45deg,rgb(34, 34, 34), rgb(73, 74, 75) , rgb(32, 32, 32));
    border-style: solid;
    border-radius: 0.61rem;
    border-width: 0.1rem;
    border-color: rgb(55, 54, 54);
}


.recent_header {
    padding: 10px;
}

/* scroll-bar styles */
.recents::-webkit-scrollbar {
    width: 8px;  
}

.recents::-webkit-scrollbar-track {
    background: rgb(50, 50, 50); 
    border-radius: 1rem;
}

.recents::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

.recents::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130); 
}

.this_week {
    width: 16rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(33, 33, 33);
    padding: 2rem;
    padding-top: 2rem;
    transition-duration: 0.3s;
}

.this_week:hover {
    transform: scale(1.03);
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: rgb(112, 111, 111);
}

.recents_heading {
    background-color: rgb(78, 79, 81);
    border-color: rgb(129, 128, 128);
    color:rgb(188, 188, 188); /* heading text color*/
    font-size: 20px;;
    border-style: solid;
    padding:0px 18px 0px 18px ;
    border-radius: 0.9rem;;
    border-width: 0.01rem;
}

.recent_txt {
    color: lightgray
}

.recent_footer {
    background-color: rgb(33, 33, 33);
    border-color: rgb(56, 56, 56);
    color:rgb(188, 188, 188); 
    font-size: 20px;;
    border-style: solid;
    padding:0px 18px 0px 18px ;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-width: 0.009rem;

    padding: 0.3rem;
}

.recent_tag {
    font-size: 0.6rem;
    padding: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.01rem;
    border-color: rgb(63, 63, 63);
    color:rgb(188, 188, 188);
}

/* skills */
.section_skils{
    background-color:  rgb(17, 16, 22);
    border-style: solid;
    border-color: rgb(79, 78, 78);
    border-width: 0.0605rem 0rem 0rem 0rem;
    padding: 0 15% 0 15%;
}

.skills_header {
    background: linear-gradient(45deg,rgb(233, 231, 231), rgb(50, 158, 205) , rgb(10, 117, 99));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    color: lightgray;
    font-family: monospace;
    font-size: 35px;
    font-weight: 200;
    padding: 3rem;
}
.skill_li_head{
    color:rgb(153, 154, 98);
}

.skills_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    color: gray;
    padding: 4rem;
    padding-top: 0.2rem;
}
.skill-list-body {
    padding: 0.5rem;
}

.link {
  color:gray;
}
.link:hover {
    color:rgb(164, 164, 164);
}

/* working on */
.working_on_container {
    background-color:  rgb(17, 16, 22);
    border-style: solid;
    border-color: rgb(57, 57, 57);
    border-width: 0.1rem 0rem 0rem 0rem; 
    height:auto;
    padding: 2% 15% 2% 15%;
}
.working_on_heading {
    background: linear-gradient(45deg,rgb(187, 180, 180), rgb(50, 158, 205) , rgb(10, 117, 99));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: lightgray;
    font-family: monospace;
    font-size: 35px;
    font-weight: 200;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.working_on_info {
    padding: 2% 15% 5% 7%;
    
}
.work_list {
   color: gray;
}

/* footer */
footer {
    height:  auto;
    background-image: repeating-linear-gradient(45deg, rgb(32, 31, 31), rgb(28, 28, 28));
}

.footer_txt  {
    padding: 1.4rem;
    padding-top: 3rem;
    color: rgb(186, 186, 186);
    font-size: 15px;
    font-weight: 590;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_details {
    padding: 0.5rem 0rem 0.5rem 3rem;
}
.copyright {
    display: flex;
    justify-content: center;
    padding: 1.4rem;
    color: rgb(186, 186, 186);
    font-size: 15px;
    font-weight: 590;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* fold longer-text in section  */
section {
    max-width: 100%;
    overflow-wrap: break-word;
}


@media (min-width: 600px) and (max-width: 800px) {
    .card {
        padding: 20px;
        padding-top: 0.1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .card_style {
        max-width: 200px;
        width: 100%;
        margin: 0;
    }
    #search_btn {
        height: 2.9rem;
     }
}


/* 400px to 599 mobile view*/
@media (min-width: 400px) and (max-width: 599px){
    .card_wrapper {
        padding: 0.5rem;
        height: 20rem; /* fix height for mobile devices */
    }
    
    .card_container {
        padding: 3% 3% 1% 3%;
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto;
        /* gap: 1rem; */
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 15px;
        padding-top:5px;

        height: 90%;  /* to fit card within card_wrapper height bounds */
        overflow-y: scroll; /* add scroll-bar*/
        overflow-x: hidden; /* hide horizontal scrollbar */
    }

    .card_style {
        min-width: 0;
        width: 100%;
    }

    .logo {
        background: linear-gradient(45deg,rgb(200, 163, 163), rgb(212, 168, 74) , rgb(21, 1, 67));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 2.5rem;
        font-weight: 500;
        padding-left: 3%;
        padding-right: 5%;
    }
    
    .banner {
        padding: 4px;
        font-size: 9px;
        height: 10px;
    }
   
    .nav {
        padding: 1rem;
        padding-bottom: 15px;
    }
    .nav_txt{
        font-size: 16px;
    }
    
    .header_options {
        font-size: 18px;
    }
    #search_container{
        padding-right: 35px;
    }
    #search_btn {
        padding: 15px;
    }
    #search_btn{
        background-color: transparent;
        border-style: solid;
        border-color: transparent;
        margin-top: -0.35rem;
        font-size: 20px;
        color: rgb(74, 74, 74);
        z-index: 10;
    }

    #search_bar {
        width: 90%;
     }
    #search_bar:hover {
        width: 100%;
    }
    .card_sec_heading {
        display: flex;
        background-color: rgb(80, 80, 71);
        font-family: monospace;
        font-size: 30px;
        font-weight: 300;
        padding: 0.5rem 3rem 0rem 3rem;
    }
    .notes_txt_gradient {
        font-size: 2rem;
        font-weight: 600;

    }
    .all_notes {
        font-size: 18px;
        padding: 3%;
    }

    .recents {
        display:flex;
        justify-content:center;
        height: fit-content;
        width: fit-content;
        scroll-behavior: smooth;
        gap: 0.7rem;
        padding: 1rem;
        padding-top: 1.2rem;
        /* background-image: repeating-linear-gradient(80deg, rgb(46, 44, 44), rgb(51, 49, 49), rgb(41, 40, 40)); */
        background-color: rgb(17, 16, 22); 
        border-style: solid;
        border-radius: 0.61rem;
        border-width: 0rem; /* 0 value to make border not visible  */
        border-color: rgb(108, 108, 108);
    }
    
    .this_week {
        width: 10rem;
        height: fit-content;
    }

    .recents_container {
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        overflow-x: scroll;
        background-color: transparent;
        width: 90%;
        border-style: solid;
        border-radius: 0.61rem;
        border-width: 0.1rem;
        background-color: rgb(17, 16, 22); /* changed color to darker to match the recent card background*/
        border-color: rgb(108, 108, 108);
    }
    .skills_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        color: gray;
        padding: 1% 1% 10% 1%;
    }
    .skills_header{
        background: linear-gradient(45deg,rgb(176, 154, 183), rgb(73, 154, 147) , rgb(55, 10, 75));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
        font-weight: 800;
        padding-left: 3%;
    }
    .footer_txt  {
        padding: 1.4rem;
        padding-top: 1.5rem;
        padding-left: 0;
    }
    .working_on_container {
        padding: 1% 1% 10% 12%;
    }
    .working_on_heading {
        font-size: 2.5rem;
        font-weight: 800;
    }
    .working_on_info {
        padding: 10% 5% 1% 15%; 
    }
}
